@charset "utf-8";

.Pages {
    width: 100%;
    height: 1000px;
    /* background: green; */
    display:flex;
    align-items: center;
    overflow:hidden;
}

img[alt="sea"] { z-index: 1; width:100%; height:1000px; position: absolute;}

.section {
    z-index: 2;
    margin:0 auto;
    width:1600px;
    /* background-color: rgba(255, 251, 0, 0.5); */
    text-align: center;
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
}

.white {color:white;}

.left {text-align: left;}
.right {text-align: right;}

.reason {
    margin:0 auto;
    width:1600px;
    text-align: center;
    padding:80px 0 20px 0;
    border-bottom: 1px solid #e6e6e6;
}


/* 2페이지 */
.Page:nth-of-type(2) .section{
    padding:3% 0;
    justify-content: space-between;
    align-items: space-between;
}

/* 3페이지 */

.Page:nth-of-type(4) .section{
    justify-content: space-between;
}

.Page:nth-of-type(4) .section ul{
    width:80%;
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-around;
    margin:0 auto;
}

.Page:nth-of-type(4) .section li {
    opacity: 0.8;
    transition: 0.2s;
    cursor:pointer;
    padding:20px;
    border: 1px solid #e6e6e6;
    width:100%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.Page:nth-of-type(4) .section li:hover {
    opacity:1; font-weight: 600;
}

.Page:nth-of-type(4) .section li.choosed {opacity:1; font-weight: 600; border-top: rgba(0,0,0,0);}

.board {
    width:70%;
    /* background-color: aqua; */
    display:flex;
    flex-flow:column wrap;
    justify-content: space-between;
    margin:0 auto;
    padding:50px 0;
    display:none;
}

.choosed {display:block;}

/* 4페이지 */

.group {
    display:flex;
    flex-flow:row wrap;
    align-items: center;
}

.left img{
    width:500px;
    height:auto;
    position:unset;
    margin-right:60px;
}

.right img{
    width:500px;
    height:auto;
    position:unset;
    margin-left:60px;
}

.Page:nth-of-type(6) .group {
    margin:80px 0 0 0;
}
.Page:nth-of-type(6) .section {
    justify-content: space-around;
}

.Page:nth-of-type(6) p {
    width:100%;
}

.after {
    height: 45px; background-color: #8FBDD9; width:100%;
    margin-top: -40px;
}

.Page:nth-of-type(6) .substance {
    width:800px;
    margin-top: 20px;
}


.Page:nth-of-type(6) .right {
    display:flex;
    justify-content: flex-end;
}

img[alt="reason"] {width:200px; height:200px; position:unset; margin-right: 50px;}

.reasons {
    width:100%;
    display:flex;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    margin:50px 0;
}


.resolve ul {
    display:flex;
    justify-content: center;
}

.resolve li {
    margin:0 20px;
}

.choosed {display:block;}